.banner-principal-decorativo
  &-1
    animation: float1 3.0s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 58%
    width: 100px
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 55%
    right: 78%
    width: 100px
  &-3
    animation: float1 2.0s ease-in-out infinite alternate
    position: absolute
    top: 54%
    right: 10%
    width: 100px

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 53% !important
  @media screen and (max-width: $bp-max-md)
    width: 95% !important



.banner-principal__row .banner-principal__img
  width: 550px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal


.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important


.img-t
  width: auto
  height: auto 
.img-a
  display: block
  margin: auto


.titulo-sexto
  border-left: 10px solid
  padding: 6px 0 6px 8px
  border-left-color: #534EDD !important


//INTRO

.bg1
  background-color: #DAF5EE


//TEMA1


.titulo
  background-color: #A9B9F7
  border-radius: 50px 60px 20px 50px
  width: fit-content
  padding: 8px 20px 8px 75px
  position: relative
  display: inline-flex
  align-items: center
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    padding: 8px 20px 8px 65px
.titulo img
  width: 63px
  height: 63px
  position: absolute
  top: 50%
  left: 0px 
  transform: translateY(-50%)
  object-fit: contain
  z-index: 1
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 55px
    height: 55px
  @media only screen and (max-width: 767px)
    width: 55px
    height: 55px

  
.acordion__accion__btn--b
  background-color: #A8ED2F
  transition: all 0.3s ease-out
  border: #A8ED2F
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15)
.acordion__activo
  background-color: #DAF5EE!important
  transition: all 0.3s ease-out
.tarjeta--grey
  border-radius: 20px
  background-color: #A3E2D9
.acordion.press .acordion__activo .acordion__accion__btn--b
  background-color: #534EDD
  color: white
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15)


.pasos-a__linea__esquina__linea 
    border: 3px solid
    width: 100%
    position: relative
    border-radius: 0px
.pasos-a.color-primario .pasos-a__circle 
    background-color: #534EDD
.pasos-a.color-primario .pasos-a__circle div 
    color: white
.pasos-a.color-primario .pasos-a__numero::after
    border-left-color: #534EDD
.pasos-a.color-primario .pasos-a__linea .hor-line 
    border-top-color: #534EDD
.pasos-a.color-primario .pasos-a__linea__esquina__linea 
    border-color:#534EDD
@media only screen and (max-width: 767px)
  .cel
    display: none
@media only screen and (min-width: 768px) and (max-width: 1023px)
  .cel
    display: none


.fondo1
  background: url('../assets/curso/tema1/fondo1.png')
  background-size: 100% 80%
  background-repeat: no-repeat
  background-position: center 
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem
  @media screen and (max-width: 767px)
    margin-inline: -2.4rem
    margin-right: -2rem
    margin-left: -2rem
    background-size:  100% 100%


.bg2
  background-color: #F3F9FF
  border-radius: 15px 15px 0 0


.tarjetaf
  background: url('../assets/curso/tema1/fondo2.png')
  background-size: 100% 100% 
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  overflow: hidden
  transition: transform 0.3s ease
  -webkit-mask-image: -webkit-radial-gradient(white, black)
  backface-visibility: hidden  
  transform: translateZ(0) 
  & > *
    border-radius: inherit
@media (max-width: 991px)
  .tarjetaf
    border-radius: 20px
@media (max-width: 575px)
  .tarjetaf
    border-radius: 20px
.slyder-a__bullets__item 
  background-color: #505EA3
  border-color: #505EA3
.slyder-a__bullets__item--active 
  background-color: #A8ED2F !important
  border-color: #A8ED2F !important
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #A8ED2F
  border: 1px solid #A8ED2F
  opacity: 1


.subtitulo
  margin-bottom: 0px
  border-left: 8px solid  #534EDD !important
  padding: 34px 0px 15px 0px
  border-radius: 50px
  @media only screen and (max-width: 767px)
    display: none
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    display: none
.ssu
  background-color: #A9B9F7
  border-radius: 0px 10px 10px 0px
  width: fit-content
  @media only screen and (max-width: 767px)
    border-radius: 15px
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    border-radius: 15px


.acordion__accion__btn--a
  background-color: #A8ED2F
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,.3)
.acordion .tarjeta--azull
  background-color: #A3E2D9
.acordion__accion__btn--a i, .acordion__accion__btn--b i .activ
  color: black
.acordion.activ .acordion__activo .acordion__accion__btn--a
  background-color: #534EDD
  i, 
    color: white !important
.activ
  .acordion__activo 
    background-color: #CDF0E6!important
    transition: all 0.3s ease-out